.component
  overflow: auto
  max-width: 100%
  -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    display: none

.container
  display: flex
  justify-content: space-around

.carousel
  width: 100%
  overflow: hidden
  position: relative
  padding: 0 0 10px 0

.element
  display: flex
  flex: 0 0 auto
  justify-content: center

.isInactive
  opacity: 0.2
  &:hover
    opacity: 0.2

.isInactive, .isActive
  z-index: 1
  transition: 300ms ease-out all

.avoidAnimation
  transition: none!important
