
.container
  height: 400px
  cursor: pointer
  &:hover
    .info
      background: var(--product-bg)

.info
  padding: 10px 30px
  box-sizing: border-box
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.name
  font-size: 12px

.stars
  margin-bottom: 5px

.discount
  font-size: 11px
  color: var(--muted-bg)

.price
  font-size: 18px
  font-weight: 700

.offer
  font-size: 11px
  color: var(--muted-bg)
  margin: 0 0 10px 0
