.TextFieldRoot
  width: 100%
  padding-top: 6px
  position: relative
  &.disabled
    opacity: 0.8
  &.open
    label
      padding: 0 5px
      border-radius: 6px
      background-color: white
      box-shadow: var(--box-shadow-default)
      transform: scale(0.77) translate(0px, -24px)
  &.focus
    label
      color: var(--input-active-border)
    input
      border: 1px solid var(--input-active-border)
      &::-webkit-input-placeholder
        color: var(--input-label)
  &.error
    label
      color: red
    input
      border: 1px solid red
  label
    top: 12px
    left: 6px
    cursor: text
    padding: 0 5px
    font-size: 14px
    line-height: 28px
    position: absolute
    will-change: transform
    color: var(--input-label)
    transition: 300ms ease-out all
    transform-origin: left top 0px
    background-color: var(--transparent)
  input
    margin: 0
    padding: 0
    width: 100%
    border: none
    height: 40px
    outline: none
    font-size: 0.87rem
    text-indent: 0.56rem
    padding-top: 0.06rem
    border-radius: 6px
    color: var(--input-color)
    transition: 300ms ease-out all
    background-color: var(--transparent)
    border: 1px solid var(--input-border)
    &.realInput
      left: 0
      top: 0.37rem
      z-index: 1
      position: absolute
      color: var(--transparent)
      caret-color: var(--input-color)
      border: 1px solid var(--transparent)
  .errorDescription
    color: var(--error-color)
    font-size: 0.75rem
    margin-top: 0.3rem

.checkIcon
  right: 0
  height: auto
  top: 0.75rem
  right: 0.75rem
  width: 1.25rem
  position: absolute
  color: var(--active-color)

.novoEmail
  width: 25rem

h5
  font-weight: 400
