
.containerBanner
  width: 100%
  overflow: hidden
  position: relative
  transition: 600ms ease-out all

.containerImages
  height: 100%
  display: flex
  position: relative
  transition: 600ms ease-out all

.containerBullets
  left: 50%
  width: 200px
  height: 10px
  bottom: 40px
  z-index: 101
  display: flex
  position: absolute
  margin-left: -100px
  justify-content: center
  &.phone
    bottom: 13px
    .bullet
      width: 7px
      height: 7px

.bullet
  width: 10px
  height: 10px
  margin: 0 5px
  border-radius: 50%
  background-color: var(--light-color)
  &.active
    background-color: var(--promotion-color)

.backBlack
  width: 52%
  border: 3px
  height: 100%
  display: flex
  position: relative
  align-items: center

.containerInfo
  z-index: 102
  right: 150px
  width: 280px
  position: absolute

.title
  font-weight: 700
  font-size: 18px
  color: var(--secondary-color)

.text
  font-size: 30px
  font-weight: 700
  color: var(--secondary-color)

.backBanner
  right: 0
  z-index: 100
  height: 100%
  position: absolute

.image
  width: 100%
  height: 430px
  overflow: hidden
  position: relative
  box-sizing: border-box

.imagePhone
  width: 100%
  height: 190px
  overflow: hidden
  position: relative
  box-sizing: border-box

.imageBanner
  top: 0
  right: 0
  width: 100%
  display: flex
  position: absolute
  align-items: flex-end

.assteImage
  top: 0
  right: 0
  z-index: 99
  position: absolute

.imagePhone
  display: flex
  align-items: center

.assteImagePhone
  width: 140%

.containerInfoPhone
  top: 30px
  left: 20px
  width: 80%
  z-index: 10
  line-height: 30px
  position: absolute
  .title
    font-size: 20px
    line-height: 22px
    margin-bottom: 5px
  .text
    font-size: 28px
    line-height: 30px

.overlay
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: absolute
  background: rgba(0,0,0,0.5)
