.container
  height: 80px
  display: flex
  justify-content: center
  background: var(--default-bg)

.content
  width: 1324px
  display: flex
  align-items: center
  justify-content: space-between

.joinPathsUserIcon
  display: flex
  align-items: center
  flex-direction: column

.profileData
  display: flex
  align-items: center
  justify-content: center

.logo
  width: 170px
  height: 40px
  display: flex
  align-items: flex-end

.user
  display: flex
  align-items: center
  justify-self: center

.cart
  display: flex
  margin-left: 20px
  align-items: center
  position: relative

.countItems
  width: 14px
  height: 14px
  color: white
  display: flex
  font-size: 10px
  margin-left: 5px
  font-weight: bold
  border-radius: 50%
  align-items: center
  justify-content: center
  background: var(--promotion-color)

.name
  font-size: 14px
  font-weight: 300
  margin-left: 6px
  color: var(--text-color)

.dot
  width: 9px
  height: 9px
  margin-left: 2px
  border-radius: 50%
  background-color: var(--light-bg)

.contentPhone
  width: 100%
  border: 1px solid red

.topHeader
  border: 1px solid gray
  width: 100%
  display: flex
  justify-content: space-between
  height: 50%

.menuPhone
  border: 1px solid red

.logoPhone
  border: 1px solid red

.logoCart
  border: 1px solid red