.container
  height: 359px
  justify-content: center

.containerTop
  background-color: var(--primary-bg)
  height: 146px
  display: flex
  justify-content: center

.containerBottom
  background-color: var(--secondary-bg)
  height: 213px
  display: flex
  justify-content: center

.top
  width: 1324px

.bottom
  width: 1324px