.container
  height: 22.5rem
  box-sizing: border-box
  justify-content: center
  border-bottom: 10px solid var(--light-border)
  &.phone
    height: auto

.containerTop
  display: flex
  height: 8.5rem
  align-items: center
  justify-content: center
  background-color: var(--primary-bg)
  &.phone
    height: auto
    .titleContact
      font-size: 1.125rem
      line-height: 1.25rem
      padding: 0.3rem 1.87rem 0 1.87rem

.containerBottom
  display: flex
  height: 13rem
  justify-content: center
  background-color: var(--secondary-bg)
  &.phone
    height: auto

.top
  width: 82rem
  display: flex
  padding: 0.62rem 0
  align-items: center
  flex-direction: column
  justify-content: space-around

.titleContact
  font-size: 1.37rem
  font-weight: 700

.controls
  display: flex
  height: 4.3rem
  align-items: center
  &.phone
    padding: 0.62rem 0
    flex-direction: column
    height: auto
    .inputFiled
      margin-bottom: 0.62rem

.bottom
  width: 83rem
  display: flex
  &.phone
    flex-direction: column
    .block
      width: 100%
    #enterpriseInfo
      padding: 1.25rem 3.1rem
      justify-content: space-between
      .enteprise
        margin-left: 0
    #contactInfo
      height: 7.5rem
      .classButton
        margin: 0.62rem 0

.block
  width: 33%
  padding: 1.56rem
  color: var(--secondary-color)

.title
  font-size: 1.25rem

.assetLine
  width: 2.8rem
  margin: 1rem 0

.address
  font-weight: 400
  font-size: 0.81rem
  line-height: 1.37rem

.textButton
  line-height: 0.87rem

.bigTextButton
  font-size: 1rem

.iconButtonAudio
  width: 2.1rem
  margin-right: 1rem

.iconButtonMail
  width: 1.5rem
  left: -0.43rem
  height: 1.87rem
  margin-right: 1rem
  position: relative

.classButton
  width: 12rem
  padding: 0 1.06rem
  font-size: 0.68rem

#contactInfo
  z-index: 999
  display: flex
  padding: 2.5rem 0
  flex-flow: column
  position: relative
  align-items: center
  justify-content: space-around

.smallTitle
  font-size: 0.62rem

#enterpriseInfo
  display: flex
  align-items: center
  justify-content: flex-end

.enteprise
  margin-left: 1.56rem

.inputFiled
  height: 100%
  width: 18.75rem
  padding: 0 0.37rem

.inputButton
  height: 100%
  padding: 0.37rem 0 0 0.37rem
